/* 
----------------------------------
CSS yang digunakan oleh index.html
(C) Mawan A. Nugroho.
----------------------------------
*/

body {
  background-color:#f0f0f0;
}

.tautan {
  text-decoration:underline;
  color:blue;
  cursor:pointer;
}
